<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="https://sdk.amazonaws.com/js/aws-sdk-2.771.0.min.js"></script>
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<title>Whippystore - Admin</title>
</head>
<body>
<div class="container">
    <a th:href="@{/}" class="pager" style="font-size:22px"> Home </a> <br/> <br/>
    <h2 class="title" style="color:purple">Admin Dashboard</h2>
    <div sec:authorize="isAuthenticated()">
       <div sec:authorize="hasRole('ADMIN')">
       <div layout:fragment="content">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>UserName</th>
                <th>FileName</th>
                <th>Path</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="usersList : ${users}" th:remove="tag">
                <tr>
                    <td th:text="${usersList.userName}" style="font-weight: bold;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <th:block th:each="record : ${usersList.records}">
                    <tr>
                        <td></td>
                        <td th:text="${record.filename}"></td>
                        <td th:text="${record.path}"></td>
                        <td th:text="${record.description}"></td>
                        <td>
                                <form method="POST" th:action="@{/delete(id=${record.id})}">
                                    <button type="submit" name="submit" value="value" class="link-button">Delete <i class="fa fa-trash-o" style="font-size:24px;color:red"></i></button>
                                </form>
                            </td>
                    </tr>

                </th:block>
            </th:block>

            </tbody>
        </table>
      </div>
      </div>
      

    </div>
</div>
</body>
</html>